body {
  background: url("/img/bg.png") center center no-repeat;
  font-family: "Open Sans", sans-serif;
  height: 100vh !important;
  background-size: cover;
}

.side-section {
  background-color: #317DFF;
  height: 100vh;
  width: 420px;
  color: #fff;
}
.side-section .title {
  width: 100%;
}
.side-section .title h2 {
  font-family: "Baumans", cursive;
  color: #fff;
  font-size: 72px !important;
}
.side-section .title h5 {
  font-family: "Arvo", serif;
  margin-bottom: 50px;
}
.side-section .record {
  width: 100%;
}
.side-section .record .button-record {
  height: 216px;
  width: 216px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  border: 0px solid #317DFF;
}
.side-section .record .button-record img {
  max-width: 100px;
  margin: auto;
}

.panels {
  margin: 30px;
}

.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  min-width: 200px;
  width: 500px;
  height: auto;
  background-color: #317DFF;
  color: #fff;
}
.talk-bubble .round img {
  max-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
}

.border {
  border: 8px solid #317DFF;
}

.round {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #317DFF transparent transparent transparent;
}

.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 18px solid;
  border-color: #317DFF transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #317DFF #317DFF transparent transparent;
}

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #317DFF #317DFF transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #317DFF;
}

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 18px solid;
  border-color: transparent transparent transparent #317DFF;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #317DFF transparent transparent #317DFF;
}

.tri-right.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: #317DFF transparent transparent #317DFF;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #317DFF #317DFF transparent transparent;
}

.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: #317DFF #317DFF transparent transparent;
}

/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent $color-1;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 18px solid;
	border-color: transparent transparent transparent $color-1;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #317DFF #317DFF transparent transparent;
}

.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: #317DFF #317DFF transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #317DFF transparent transparent #317DFF;
  margin-left: 100px;
}

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #317DFF transparent transparent #317DFF;
  margin-left: 100px;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #317DFF transparent transparent transparent;
  margin-left: 100px;
}

.tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #317DFF transparent transparent transparent;
  margin-left: 100px;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-size: 24px;
}

.tes {
  float: left;
  left: 33%;
}

/*# sourceMappingURL=style.css.map */
